[submodule "start/vim-airline"]
	path = base/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-obsession"]
	path = base/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "heavy/start/coc.nvim"]
	path = heavy/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "base/start/nerdtree"]
	path = base/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "base/start/vim-templates"]
	path = base/start/vim-templates
	url = https://github.com/tibabit/vim-templates.git
