[submodule "start/vim-airline"]
	path = base/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-obsession"]
	path = base/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "heavy/start/coc.nvim"]
	path = heavy/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
